body {
    position: relative;
    width: 1440px;
    height: 866px;
    margin: auto;
    padding: 0px;
}
.title {
    position: absolute;
	width: 1000px;
	height: 127px;
	left: 0px;
	top: 29px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 96px;
	line-height: 116px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #FFC700;
}
a {
    text-decoration: none;
}
header {
    position: absolute;
    width: 1440px;
    height: 116px;
    left: 0px;
    top: 0px;
}
.name {
    position: absolute;
    width: 258px;
    height: 116px;
    left: 0px;
    top: 0px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 77px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFC700;
}
.nav_starships {
    position: absolute;
    width: 224px;
    height: 127px;
    left: 992px;
    top: 0px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFC700;
}
.nav_planets {
    position: absolute;
    width: 224px;
    height: 127px;
    left: 1216px;
    top: 0px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFC700;
}
main {
    position: absolute;
    width: 1440px;
    height: 750px;
    left: 0px;
    top: 127px;
}
h1 {
    position: absolute;
    width: 922px;
    height: 116px;
    left: 258px;
    top: 111px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 116px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFC700;
}
h2 {
    position: absolute;
    width: 1170px;
    height: 500px;
    left: 135px;
    top: 227px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFC700;
}
.starships_list {
    position: absolute;
    top: 253px;
	padding-left: 0px;
	list-style: none;
	margin: auto;
	padding: 0;
	width: 1440px;
}
.starships_block {
	display: block;
	width: 100%;
	float: left;
	transition: width .2s;
}
.starships {
	display: block;
	border-radius: 3px;
	position: relative;
	margin: 0 20px 20px 0;
	text-decoration: none;
	height: 443px;
    width: 458px;

	background: #606060;
}
.starships:hover .starship_photo img{
	transform: scale(1.05);
}
.starship_photo {
	position: relative;
	padding-bottom: 100%;
	overflow: hidden;
}
.starship_photo img {
	position: absolute;
	top: -152px;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	transition: transform .4s ease-out;
}
.name_tag {
	position: absolute;
	left: 2.62%;
	right: 75.55%;
	top: 65%;
	bottom: 12.76%;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 39px;

	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
}
.starship_name {
	position: absolute;
	left: 32.31%;
	right: 2.84%;
	top: 60%;
	bottom: 8.67%;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 58px;
	display: flex;
	align-items: center;
	text-align: center;
	
	color: #FFC700;
}
.cost_tag {
	position: absolute;
	left: 2.62%;
	right: 75.33%;
	top: 80%;
	bottom: -5.36%;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 39px;

	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
}
.starships_cost {
	position: absolute;
	left: 30.13%;
	right: 2.84%;
	top: 76%;
	bottom: -9.44%;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 39px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #FFC700;
}
.sort {
	position: absolute;
	width: 122px;
	height: 39px;
	left: 19px;
	top: 210px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 39px;

	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
}
.list_sort {
	position: absolute;
	width: 130px;
	height: 30px;
	left: 147px;
	top: 215px;

	background: #FFFFFF;
	border-radius: 5px;
}
.container {
    position: absolute;
    width: 1313px;
    height: 424px;
    left: 63px;
    top: 220px;

    background: #606060;
}
.starship_image {
    position: absolute;
    left: 1.15%;
    right: 52.75%;
    top: 4.01%;
    bottom: 4.21%;
}
.model_tag {
    position: absolute;
    left: 49.92%;
    right: 41.98%;
    top: 4.48%;
    bottom: 86.36%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
.model {
    position: absolute;
    left: 58.85%;
    right: 5.73%;
    top: 4.48%;
    bottom: 85.42%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFC700;
}
.starship_cost_tag {
    position: absolute;
    left: 49.92%;
    right: 43.74%;
    top: 19.04%;
    bottom: 71.81%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}
.starship_cost {
    position: absolute;
    left: 58.93%;
    right: 7.94%;
    top: 19.04%;
    bottom: 70.87%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFC700;
}
.discription {
    position: absolute;
    left: 49.92%;
    right: 7.94%;
    top: 29.25%;
    bottom: 3.77%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFC700;
}
@media only screen and (min-width: 450px) {
	.starships_block {
		width: 33%;
	}
}

@media only screen and (min-width: 768px) {
	.starships_block {
		width: 33%;
	}
}

@media only screen and (min-width: 1000px) {
	.starships_block {
		width: 33%;
	}
}